{{! Kyochi v1.1, Copyright 2014, Cloud Eight, http://www.cloud-eight.com }}

{{! Pull default.hbs markup - DO NOT REMOVE }}
	{{!< default}}

{{! Article }}
	<main id="template-page" class="clearfix" role="main" itemscope itemtype="http://schema.org/Article">
		{{#post}}
			{{! Post }}
				<article class="animate slow-mo{{#if @odd}} odd{{else}} even{{/if}}{{#if @first}} first{{/if}}{{#if @last}} last{{/if}}" data-anim-type="fadeIn" data-anim-delay="200">
					<div class="container bm-larger tm-larger">
						<div class="one-whole bm-remove {{post_class}}">
							{{! Page Info }}
								<h1><a href="{{url}}" target="_self">{{{title}}}</a></h1>

								<hr />
						
							{{! Page Body }}
								<div class="article-body" itemprop="articleBody">{{content}}</div>
						</div>
					</div>
				</article>

				<hr class="bm-remove separator" />

			{{!! Pagination }}
				<div class="container bm-larger tm-larger pagination-container animate slow-mo" data-anim-type="fadeIn">
					<div class="one-whole bm-remove">
						<a href="javascript:history.go(-1)" target="_self" class="button text-uppercase">Return To Previous Page</a>
					</div>
				</div>
		{{/post}}
	</main>